:root {
  /* --primary: #137a1b;
  --bg: #010101;
  --abu: #656565; */
    --primary: #76ABAE;
  --bg: #EEEEEE;
  --abu: #31363F;
  --dark: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins', 'sans-serif';
  background-color: var(--abu);
  color: var(--bg);
}

.navbar {
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #000000d6;
  border-bottom: 1px solid var(#513c28);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  transition: 0.5s;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  transition: 0.5s;
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--bg);
}

.home,
.about,
.project,
.contact {
  height: 50rem;
  padding: 10rem;
}

.home {
  transition: 0.5s;
  background-color: var(--abu);
  background: linear-gradient(0deg, var(--primary) 0.1%, rgba(255, 255, 255, 0) 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home img {
  border: 4px solid;
  border-color: var(--dark);
  border-radius: 50%;
}

.home .info {
  margin-top: 20px;
  color: var(--dark);
}

.home .info p a {
  color: var(--dark)
}
.home .info p a:hover {
  color: var(--primary);
}

.about {
  color: var(--dark);
  background: linear-gradient(0deg, rgba(255, 255, 255) 0.1%, rgba(255, 255, 255, 0) 30%);
  background-color: var(--primary);
  text-align: center;
}

.about h2,
.project h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.project {
  color: var(--dark);
  background: linear-gradient(0deg, var(--abu) 0.1%, rgba(255, 255, 255, 0) 30%);
  background-color: #ffff;
  height: auto;
  padding: 10rem;
}

.projects {
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 2rem;
}

.project .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--bg);
  padding:20px;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: url('assets/image/cursor/cursor.png'), auto;
}

.projects .cart:hover {
  background-color: var(--abu);
  color: var(--primary);
  border-color: #ffff;
  box-shadow: 0px 0px 50px var(--primary);
}

.projects .cart img {
  width: 15rem;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
}

.projects .cart h3{
  padding: 10px;
}



.detail {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-container {
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  width: 80%;
  /* height: 80%; */
  max-width: 700px;
  border-radius: 10px;
  
  box-shadow: 0 0 80px var(--primary);
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-icon:hover {
  color: #ff0000;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.detail-content img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 5px var(--dark);
}

.info {
  text-align: center;
}

.info h2 {
  margin: 1px ;
  font-size: 24px;
  color: #333;
}

.info p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.modal-content {
  position: absolute;
}

.contact {
  display: grid;
  background: linear-gradient(0deg, var(--dark) 0.1%, rgba(255, 255, 255, 0) 30%);

  background-color: var(--abu);
  text-align: center;
}

.contact .row form .input-group {
  color: #137a1b;
}
.contact .row form .input-group i {
  position: relative;
  top: 10px;
  left: 10rem;
}

.contact .row form input {
  display: inline-block;
  font-size: unset;
  color: var(--bg);
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-color: var(--bg);
  border-radius: 10px;
  width: 25rem;
  padding: 14px;
  margin: 5px;
}

.contact .row form button {
  background-color: var(--abu);
  color: white;
  border: 2.4px solid;
  border-color: var(--bg);
  border-radius: 13px;
  margin: 10px;
  width: 7rem;
  transition: 0.3s;
}
.contact .row form button:hover {
  background-color: var(--bg);
}

.contact .row form button h5 {
  font-size: small;
  margin: 7px;
}

footer {
  background-color: var(--dark);
  text-align: center;
  padding: 1rem 1rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: #fff;
  margin: 1rem;
}

footer .sosial a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  color: #fff;
  font-size: 0.9rem;
}

footer .credit a {
  color: #fff;
  font-weight: 800;
}
footer .credit a:hover {
  color: var(--bg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  color: #ffffff;
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #656565;
  border-radius: 10px;
  width: 80%;
  height: 27rem;
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: inline;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media only screen and (min-width: 901px) { /* Desktop / Large Screen */
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) { /* Tablet */
  .home,
  .about,
  .project,
  .contact {
    max-width: 100%;
    height: 78rem;
  }
  .project {
    height: auto;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) { /* Mobile / Smartphone */
  body {
    font-size: 14px;
  }
  .about h2,
  .project h2,
  .contact h2 {
    position: relative;
    justify-content: center;
    font-size: 25px;
    padding: 1rem;
    margin-top: 6rem;
  }

  .navbar {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-logo {
    transition: 0.5s;
    font-size: 25px;
  }

  .navbar .navbar-nav a {
    transition: 0.5s;
    text-align: center;
    font-size: 14px;
  }

  .home {
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    max-width: 100%;
    height: 55rem;
  }
  .home .info p a:hover {
    color: var(--primary);
  }

  .about,
  .project,
  .contact {
    display: block;
    text-align: center;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
    max-width: 100%;
    height: 55rem;
  }

  .project {
    height: auto;
  }

  .projects {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    margin-bottom: 10rem;
  }
  .projects .cart {
    width: 17rem;
    margin: auto;
    border-radius: 10px;
  }

  .close-icon {
  display: none;
}

  .contact {
    background-color: var(--abu);
  }
  .contact .row form .input-group input {
    width: 16rem;
  }
}

@media only screen and (max-width: 380px) { /* Small Mobile / Small Screen */
  .navbar .navbar-nav {
    display: flex;
  }
  .navbar .navbar-nav a {
    transition: 0.5s;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }

  .about h2,
  .project h2,
  .contact h2 {
    position: relative;
    justify-content: center;
    font-size: 20px;
    padding: 1rem;
    margin-top: 10rem;
  }

  .detail-content {
    padding: 0;
  }

    .info h2 {
    font-size: 18px;
  }

  .info p {
    font-size: 12px;
  }
}
